<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Доступные Опросы{% endblock %}

{% block content %}
    <h1 class="mb-4">Доступные Опросы</h1>
    {% if polls %}
        <div class="list-group">
            {% for poll in polls %}
                <a href="{{ url_for('view_poll', poll_id=poll.id) }}" class="list-group-item list-group-item-action">
                    {{ poll.question }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных опросов. <a href="{{ url_for('create_poll') }}">Создайте первый опрос</a>.</p>
    {% endif %}
{% endblock %}
